.drawings {
  @include maxWidth();
  @include sectionSpacing();

  h2 {
    width: 70%;
    margin: auto;
    margin: 5rem auto;

    @include response(lg) {
      width: 100%;
    }
  }

  &-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
    align-items: center;
    text-align: center;

    @include response(lg) {
      grid-template-columns: 1fr;
    }

    img {
      width: 15rem;
      margin: 2rem 0;
    }

    h3 {
      @include headingStyles();
      font-size: size(lg);
    }

    p {
      @include textStyles();
      font-size: size(xs);
      margin: 2rem 0;
    }

    a {
      @include textStyles();
      font-size: size(xs);
      color: color(secondary);

      &:hover {
        border-bottom: 0.2rem solid color(secondary);
      }
    }
  }
}
