.hero {
  background-color: color(primary);
  height: 60vh;

  &-content {
    @include maxWidth();
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: center;
    height: 60vh;

    &-left {
      h1 {
        @include headingStyles();
        font-size: size(xl) + 2rem;
      }

      p {
        @include textStyles();
        font-size: size(md);
        margin: 1rem 0;
      }
    }
  }
}
