.hero {
  background-color: color(primary);

  &-content {
    @include maxWidth();
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: center;

    padding: 2rem 2rem;

    @include response(lg) {
      grid-template-columns: 1fr;
    }

    &-left {
      h1 {
        @include headingStyles();
        font-size: size(xl) + 2rem;
      }

      p {
        @include textStyles();
        font-size: size(md);
        margin: 1rem 0;
      }
    }
  }
}
