.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: color(primary);
  position: sticky;
  top: 0;
  padding: 2rem;
  z-index: 1000;
  overflow: hidden;

  &-links {
    a {
      @include textStyles();
      font-size: size(sm);
      color: color(black);
      margin-left: 2rem;

      &:hover {
        border-bottom: 0.2rem solid color(black);
      }
    }

    a:nth-child(1) {
      margin-left: 0;
    }

    @include response(xl) {
      display: none;
    }
  }

  &-logo {
    width: 8rem;

    @include response(md) {
      width: 5rem;
    }
  }

  &-right {
    display: flex;
    align-items: center;
    @include response(md) {
      width: 90%;
    }

    i {
      @include response(xl) {
        display: none;
      }
    }

    a {
      color: color(black);
      font-size: size(lg);
      margin-right: 2rem;
    }

    .btn,
    .btn-trans {
      @include response(xl) {
        display: none;
      }
    }
  }
}
