.signup-container {
  display: grid;
  grid-template-columns: 2fr 4fr;
  align-items: center;
  grid-gap: 2rem;
  height: 100vh;

  @include response(xxl) {
    grid-template-columns: 1fr 1fr;
  }

  @include response(xl) {
    grid-template-columns: 1fr;
  }

  .signup-form {
    @include sectionSpacing();
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    img {
      width: 10rem;
    }

    h2 {
      @include headingStyles();
      font-size: size(lg);
      margin: 1rem 0;
    }

    p {
      @include textStyles();
      font-size: size(sm);
    }

    a {
      @include textStyles();
      color: color(secondary);
      font-size: size(sm);

      &:hover {
        text-decoration: underline;
      }
    }

    button {
      margin: 2rem 0;
      width: 100%;
    }

    label {
      @include textStyles();
      display: block;
      font-size: size(md);
      margin-top: 2rem;
    }

    .form-input {
      display: block;
      width: 100%;
      padding: 1rem;
      outline: 0;
      border: 0;
      border-bottom: 0.2rem solid color(secondary);
      margin: 1rem 0;
    }

    .signup-links {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
    }

    .signup-link {
      margin-left: 0.5rem;
    }

    .list-items-container {
      margin-top: 2rem;
      display: flex;
      justify-content: space-evenly;
      flex-wrap: wrap;

      .list-items {
        margin: 0 2rem;

        li {
          @include textStyles();
          font-size: size(xs);
          list-style-type: square;
        }
      }
    }

    .signup-form-img-container {
      img {
        width: 8rem;
      }
    }
  }

  .signup-info {
    background-color: color(primary);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @include response(xl) {
      display: none;
    }

    .signup-img-container {
      img {
        width: 100%;

        @include response(xxl) {
          width: 40rem;
        }
      }
    }
  }
}
