.login-container {
  display: grid;
  grid-template-columns: 2fr 4fr;
  align-items: center;
  grid-gap: 2rem;
  height: 100vh;

  @include response(xxl) {
    grid-template-columns: 1fr 1fr;
  }

  @include response(xl) {
    grid-template-columns: 1fr;
  }

  .login-form {
    @include sectionSpacing();
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    img {
      width: 10rem;
    }

    h2 {
      @include headingStyles();
      font-size: size(lg);
      margin: 1rem 0;
    }

    p {
      @include textStyles();
      font-size: size(sm);
    }

    a {
      @include textStyles();
      color: color(secondary);
      font-size: size(sm);

      &:hover {
        text-decoration: underline;
      }
    }

    button {
      margin: 2rem 0;
      width: 100%;
    }

    label {
      @include textStyles();
      display: block;
      font-size: size(md);
      margin-top: 2rem;
    }

    .form-input {
      display: block;
      width: 100%;
      padding: 1rem;
      outline: 0;
      border: 0;
      border-bottom: 0.2rem solid color(secondary);
      margin: 1rem 0;
    }

    .login-links {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
    }
  }

  .login-info {
    background-color: color(gray);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @include response(xl) {
      display: none;
    }

    h2 {
      @include headingStyles();
      font-size: size(xl) + 2rem;
    }

    h4 {
      @include headingStyles();
      font-size: size(xl);
    }

    p {
      @include textStyles();
      font-size: size(md);
      width: 70%;
      text-align: center;
      margin: 2rem 0;

      @include response(xxl) {
        width: 90%;
      }
    }

    img {
      width: 30rem;
    }

    .login-img-container {
      img {
        width: 60rem;

        @include response(xxl) {
          width: 40rem;
        }
      }
    }
  }
}
